body {

    background-image: url(images/image-lion-background.png);
    background-image: linear-gradient(to bottom right, #FC5E55, #FA4083);
    color: white;
    font-family: "Roboto", serif;
    font-size: 1.125rem;
}

/* .roboto-light {
    
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  } */

a{
    color:white;
    text-decoration: none;
}
.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    margin-top: 20px;
}

header {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    justify-content: space-between;
    display: flex;
    text-align: center;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

nav a.navbutton {
    border: solid 1px #fff;
    text-decoration: none;
    padding: 11px 25px;
    margin-left: 8px;
    color: white;
}

/* .herobox1 p {

    font-size: 20px;
    margin-bottom: 15px;
} */

hr {
    color: #fff;
}
h1 {
    font-size: 3.25rem;
    font-family: "Playfair", serif;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2rem;
    font-family: "Playfair", serif;
    margin-top: 10px;
}
p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}
.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin: 10px 30px 20px 30px;
}
.cards i{
    font-size: 75px;
    padding-top: 25px;
}

.book-online{
    background-color: white;
    color: #FC5E55;
    padding: 10px 15px;
    margin-top:10px;
    display:inline-block;
    border-radius:12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
}
.book-online:hover{
    background-color: yellow;
    transition: 1s;
}
.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tbox{
    width: 37%;
    padding: 30px;
    border: 1px solid white;
    /* box-sizing: border-box; */
    margin-top: 40px;
}
/* .tbox :last-child{
    font-size: .8rem;
} */
.tbox p:last-of-type{
    font-size: .8rem;
    padding-left: 30px;
}