body {
   
    background-image: url(images/image-lion-background.png);
    background-image: linear-gradient(to bottom right, #FC5E55, #FA4083);
    color: white;
font-family: "Roboto", serif;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    

}

/* .roboto-light {
    
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  } */

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    margin-top: 20px;
}

header {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {

    min-height: 300px;
    justify-content: space-between;
    display: flex;
}

.card1 {
    background-color: rgb(178, 90, 216);
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: rgb(134, 56, 127);
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: rgb(53, 21, 60);
    min-height: 300px;
    width: 30%;
}

.herobox1 {
    flex: 2;
}

.herobox2 {
    flex: 1;
}

nav a {
    border: solid 1px #fff;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    margin-left: 8px;
    color: white;
}


.herobox1 p {

    font-size: 20px;
    margin-bottom: 15px;
}

hr {
    color: #fff;
}

h1{
    font-size: 65px;
    font-family: "Playfair", serif;
}